/*
1. Typography: 

FONT SIZE SYSTEM (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

Font Weight: default 400

Line Height: default 1

2. Colors:
 Primary - #e67e22;
 Tints - 
 Shades - 
 Accents - 
 Greys - #555

5. Shadows:

6. Border-radius: 

7. Whitespace: 

SPACING SYSTEM (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #555;
}
